* {
  font-style:normal;
  text-decoration:none;
  margin:0;
  padding:0;
}
html,body {
  margin:0;
  padding:0;
}

.clearfix-wrapper{
  min-height:100%;
  margin:0;
  padding:0;
  padding-bottom:6em;
}

.header,.footer {
  text-align: center;
  width: 100%;
}

.logo-container {
  border-bottom: solid 2px #fc2e3b;
  width:500px;
  max-width:100%;
  overflow:hidden;
  text-align: center;
  margin: 0 auto;
}

.logo {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

ul.links-container {
 list-style: none;
 padding:0;
  margin:1em 0 0 0;
}

ul.links-container li {
  margin:0 0 0;
  width: 100px;
  height: 100px;
  list-style: none;
  display: inline-block;
}

ul.links-container li a {
  background-color: #fc2e3b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
}

ul.links-container li:nth-child(even) a{
  background-color:#283583;
}

.footer {
  background-color:#283583;
  color:#fff;
  text-decoration:none;
  padding:0;
  margin:0;
  text-align:center;
  position: fixed;
  width: 100%;
  bottom: 0;
  height:6em;
}
.footer .vcard {
  margin: 1em auto 0 auto;
  padding: 0 0 2.5% 0;
}
.footer .vcard h1, .footer .vcard h2, .footer .vcard a {
  display: inline;
  margin: 0 0.5em 0 0.5em;
}
.footer .vcard h1 {
  font-family: 'Sacramento', Helvetica, sans-serif;
  font-size:2.2em;
  font-weight:normal;
}
.footer .vcard h2 {
  font-weight:normal;
}
.footer .vcard a {
  font-size:1.5em;
}
.footer a, footer a:link, footer a:visited, footer a:hover, footer a:active{
  color:#fff;
  text-decoration:none;
}
#instafeed {
  text-align:center;
}
#instafeed img {
  max-width: 32%;
  margin-bottom: 0.25em;
}
#instafeed a {
  margin-right:1%;
}
#instafeed a:nth-child(3n){
  margin-right:0;
}

.rot {
  color: #fc2e3b
}

.blau {
  color: #283583
}

@media screen and (max-width:420px) {
  .footer {
    height: 9em;
  }
  .clearfix-wrapper {
    padding-bottom: 9em;
  }
  .footer .vcard h1, .footer .vcard h2 {
    display: block;
  }
  ul.links-container li {
    width: 18%;
  }
}

@media screen and (max-width:350px) {
  ul.links-container li a {
    width: 50px;
    height: 50px;
  }
}