* {
  font-style:normal;
  font-family: Georgia, serif;
  /* add webfont alternative

  Schriftarten:

  Sacramento (Schreibschrift)
  Kozuka mincho pr6N ("ORDNUNG")
  Georgia, (Webfont), Serif (nicht Cambria) (Fließtext)
  Georgia gilt als klassischer "web safe" font und braucht keinen Webfont Fallback!
  */
  text-decoration:none;
  margin:0;
  padding:0;
}
html,body {
  margin:0;
  padding:0;
}

.clearfix-wrapper{
  min-height:100%;
  margin:0;
  padding:0;
  padding-bottom:6em;
}

.header,.footer {
  text-align: center;
  width: 100%;
}

.logo-container {
  border-bottom: solid 2px #fc2e3b;
  width:500px;
  max-width:100%;
  overflow:hidden;
  text-align: center;
  margin: 0 auto;
}

.logo {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}
.content-wrapper {
	width: 100%;
	text-align: center;
}
ul.tablist {
	height: 66px;
 	list-style: none;
 	margin: 1em 0 0 0;
 	overflow: visible;
	padding:0;
}

ul.tablist li {
  list-style: none;
  display: inline-block;
}

ul.tablist li  {
  background-color: #fc2e3b;
  background-position: .5em .5em;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 0 20px 0 20px;
  padding: 0;
}
ul.tablist li.active{
	border-radius: 50% 50% 0 0;
	margin-bottom: -1em;
	padding: 0 0 1em 0;
}

ul.tablist li:nth-child(even) {
  background-color:#283583;
}
ul.tablist a {
	display:block;
	width:100%;
	height:100%;
	margin:0;
}

.link-ueber {
	background-image: url(../img/icon-business-woman.svg);
}
.link-b {
	background-image:url(../img/icon-tie.svg);
}
.link-leistungen{
	background-image:url(../img/icon-clothing-hanger.svg);
}
.link-d{
	background-image:url(../img/icon-tie.svg);
}
.link-kontakt{
	background-image:url(../img/icon-envelope.svg);
}
.tabs > div {
	padding: 1em;
	width: 500px;
	margin: 0 auto;
	border-radius: .5em;
	overflow: hidden;
}
.tabs > div article {
	display:block;
	padding:0;
	margin-left: 0;
	margin-right: 0;s
	position: relative;
	transition: all .5s ease;
}
.tabs > div.fadetext article {
	margin-left: -500px;
	margin-right: 500px;
}
.tab-red {
  background-color: #fc2e3b;
}

.tab-blue {
  background-color: #283583;
}

.footer {
  background-color:#283583;
  color:#fff;
  text-decoration:none;
  padding:0;
  margin:0;
  text-align:center;
  position: fixed;
  width: 100%;
  bottom: 0;
  height:6em;
}
.footer .vcard {
  margin: 1em auto 0 auto;
  padding: 0 0 2.5% 0;
}
.footer .vcard h1, .footer .vcard h2, .footer .vcard a {
  display: inline;
  margin: 0 0.5em 0 0.5em;
}
.footer .vcard h1 {
  font-family: 'Sacramento', Helvetica, sans-serif;
  font-size:2.2em;
  font-weight:normal;
}
.footer .vcard h2 {
  font-weight:normal;
}
.footer .vcard a {
  font-size:1.5em;
}
.footer a, footer a:link, footer a:visited, footer a:hover, footer a:active{
  color:#fff;
  text-decoration:none;
}
#instafeed {
  text-align:center;
}
#instafeed img {
  max-width: 32%;
  margin-bottom: 0.25em;
}
#instafeed a {
  margin-right:1%;
}
#instafeed a:nth-child(3n){
  margin-right:0;
}

/* vars */
.rot {
  color: #fc2e3b
}

.blau {
  color: #283583
}
/* vars end*/

/*
Fotos in runden Kreisen. Externes Insta auch.

Georgia, Webfont), Serif
(nicht Cambria)
*/

.hidden {
  display: none;
}

@media screen and (max-width:420px) {
  .footer {
    height: 9em;
  }
  .clearfix-wrapper {
    padding-bottom: 9em;
  }
  .footer .vcard h1, .footer .vcard h2 {
    display: block;
  }
  ul.links-container li {
    width: 18%;
  }
}

@media screen and (max-width:350px) {
  ul.links-container li a {
    width: 50px;
    height: 50px;
  }
}