$red : #e73640;
$blue : #283583;

/* BREAKPOINTS
 * default layout 880px tabs, 3 col images
 * smaller layouts with 100% tabs:
 */
$breakpoint_twocol : "660px";
$breakpoint_onecol : "520px";
/*
 * minimal borders and margins below:
 */
$breakpoint_minimal : "360px";
