.teaser{
    clear: both;
    & img {
        height: auto;
        border-radius: 1em;
        max-width: 100%;
    }
    & h3 {
        font-size: 1.25em;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: .5em;
        border-bottom: solid 2px $white;
        padding-bottom: .5em;
        width: 35%;
    }
}

.teaser-primary {
    margin: 1em 0 1em 0;
    padding: 5em 0 0 0;
    position: relative;
    right: 0;
    & img.primary {
        width: 70%;
        height: auto;
        z-index: 2;
        position: relative;
    }
    & .content {
        position: absolute;
        width: 65%;
        top: 0;
        right: 0;
        background-color: $white;
        color: $red;
        border-radius: 1em;
        padding: 1em;
        z-index: 1;
    }
    & h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.teaser-secondary {
    position: relative;
    padding: .5em 0 0 0;
    text-align: right;
    & img.primary {
        width: 50%;
        right: 0;
        top: .5em;
    }
    & img.secondary {
        width: 30%;
        position: absolute;
        bottom: 1em;
        left: 0;
        box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.5);
    }
    & img.secondary.middle {
        left: 33%;
    }
    .content {
        float: none;
        position: absolute;
        left: 0;
        top: .5em;
        text-align: left;
        & p {
            width: 48%;
        }
    }
}

@media screen and (max-width: $breakpoint_twocol) {
    .teaser-secondary {
        & img.primary {
            float: right;
        }
        & img.secondary {
            width: 49%;
            position: relative;
            display: block;
            float: left;
            clear: both;
            box-shadow: none;
            margin-top: 2em;
        }
        & img.secondary.middle {
            clear: none;
            float: right;
            left: 0;
        }
    }
}