# BEGIN Cache-Control Headers (5184000s=60d, 86400s=1d)
<FilesMatch "\\.(jpg|png|svg)$">
	Header set Cache-Control "max-age=5184000, public"
</FilesMatch>
<FilesMatch "\\.(css|js)$">
	Header set Cache-Control "max-age=5184000, public"
</FilesMatch>
<FilesMatch "\\.html$">
	Header set Cache-Control "max-age=86400, public, must-revalidate"
</FilesMatch>

# activate gzip
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/css text/html text/plain text/xml text/js application/x-javascript application/javascript

# HTML 5 appcache
AddType text/cache-manifest .appcache
ExpiresByType text/cache-manifest "access plus 0 seconds"

# add security headers
Header set X-Frame-Options "SAMEORIGIN"
Header set X-Content-Type-Options  "nosniff"
Header set X-Xss-Protection "1; mode=block"
Header set Referrer-Policy "no-referrer-when-downgrade"
# style-src unsafe-inline needed for SVG in Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1295429
Header set Content-Security-Policy  "default-src 'self' *.kleiderordnung-duesseldorf.de; style-src 'self' 'unsafe-inline' fonts.googleapis.com; font-src 'self' fonts.gstatic.com;"
